<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->


  <!--[設定] 紀錄規則-->
  <rules xdt:Transform="Replace">
    <logger name="Microsoft.*" minlevel="Debug" writeTo="msFileTarget" />
    <logger name="Microsoft.*" final="true" />      <!--final – make this rule final. No further rules are processed when any final rule matches.-->
    <logger name="*" levels="Trace,Debug,Info,Warn,Error" writeTo="All" />
    <logger name="*" levels="Trace,Debug,Info,Warn,Error" writeTo="File" />
    <logger name="*" minlevel="Error" writeTo="FileFatal" />
  </rules>


</nlog>
